.navbar{
    position:relative;
    top: 0;
    width: 100%;
    background-color:black;
    backdrop-filter: blur(10px);
    z-index:1000;
    transition: all 0.3 ease ;
    padding:1rem 0;
}

.nav-cointainer{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-logo{
    display:flex;
    align-items: center;
    color:white;
    font-size: 1.5rem ;
    font-weight: 700; 
    text-decoration: none;
}
.nav-logo img{
    margin-top: -15px;
    width:60px;
    height: 60px;
    border-radius: 50%;

}
.nav-menu{
    display:flex;
    list-style: none;
    gap:2rem;
}   
.nav-item{
    color:white ;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}
.nav-item:hover{
    color:rgb(92, 152, 248);
}
.about{
    background-color: bisque;
    display:flex;
    justify-content: space-around;
   
}

